button:focus{
  outline: none;
}

.App{
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  margin: 50px auto 0;
}

.dices-wrp{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dice-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.player-name{
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.start-restart-wrp{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.start, .restart{
  padding: 10px 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.start:hover, .restart:hover {
  opacity: 0.8;
}

.start{
  background: #19b077;
}

.restart{
  background: #ee4b44;
}

.game-status{
  padding: 20px;
  color: white;
}
.win-status{
  background: #19b077;
}

.lose-status{
  background: #ee4b44;
}

.draw-status{
  background: #c5c5c5;
}